@page "/pessoas/lista"
@using BlazorApp.Shared.Models
@inject HttpClient http
<h1>Pagina Pessoas</h1>

<h3>Lista de Pessoas</h3>
          
          @if (pessoas == null)
          {
              <p><em>Carregando.......</em></p>
          }
          else if (!pessoas.Any())
          {
              <p><em>Não Tem Nenhum cliente cadastardo.  Adicionie algum.</em></p>
          }
          else
          {
              <table class="table">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Nome</th>
                          <th>Peso</th>
                      </tr>
                  </thead>
                  <tbody>
                      @foreach (var pessoa in pessoas)
                      {
                          <tr>
                              <td>@pessoa.Id</td>
                              <td>@pessoa.Nome</td>
                              <td>@pessoa.Peso</td>
                          </tr>
                      }
                  </tbody>
              </table>
          }
          

@code {


    //IList<Pessoa> pessoas;
    IList<Pessoa> pessoas = new List<Pessoa>();

    protected override async Task OnInitializedAsync()
    {
        pessoas = new List<Pessoa>
            {
             new Pessoa{Id =1, Nome ="Rondinele", Peso=80},
             new Pessoa{Id =2, Nome ="Mateus", Peso=70},
             new Pessoa{Id =3, Nome ="Marcelo", Peso=60},
             new Pessoa{Id =4, Nome ="Julia", Peso=50},
             new Pessoa{Id =5, Nome ="Daniel", Peso=80},
             new Pessoa{Id =6, Nome ="Bruno", Peso=50}
                               
            };
    }

}
