@page "/counter"

  <h1>Pagina Counter</h1>

<p>Valore corrente : @contador</p>

<button class="btn btn-primary" @onclick="Incrementa">Click</button>

<input type="number" @bind-value="contador" @bind-value:event="oninput" />


@code{

    [Parameter]
    public int IncrementaPor { get; set; } = 1;

    private int contador = 0;

    private void Incrementa()
    {
        contador += IncrementaPor;
    }
}