@page "/teste"

<h1>Teste Pagina </h1>
<p>
    Usano pagina Counter como component como base usando uma saida diferente.

    <Counter IncrementaPor="5">

    </Counter>
</p>
<Counter IncrementaPor="5">

</Counter>
@code {

}
